<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Consult</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#"></a>
        <a class="nav-link" href="#"></a>
        <a class="nav-link disabled" aria-disabled="true"></a>
      </div>
    </div>
  </div>
</nav>

<br><br>
  <div>
  <div class="card mb-3" style="max-width: 540px;" >
    <div class="row g-0" >
      <div class="col-md-4">
        <img [src]="inputObj.profilePic ? inputObj.profilePic : './assets/images/pic.jpg'" class="img-fluid rounded-start" alt="">

      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">User Information</h5>
          <p class="card-text">I'm {{inputObj.fname}} {{inputObj.lname}} and Im above {{inputObj.age}} years and you can send your emails to {{inputObj.email}}. I live in {{inputObj.state}}. I like {{inputObj.interest}}. And please send me newsletters. Please reach out to me on my phone number {{inputObj.contact}}.</p>
          <!-- <p class="card-text"><small class="text-body-secondary">Last updated 1 min ago</small></p> -->
        </div>
      </div>
    </div>
  </div>
  
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"  (click)="editData(inputObj)">Edit</button>&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="submit" class="btn btn-success" (click)="onHome()">I Agree</button>
  
  </div>
  <br><br>
  
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Update Form </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
        <div class="modal-body">
          <form id="editForm" >
                <div class="form-group">
                    <label for="editName">Profile Photo </label>&nbsp;&nbsp;&nbsp;
                    <img id="previewImage" [src]="inputObj.profilePic" height="100"><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="file" [(ngModel)]="inputObj.profilePic" id="profilePic" name="profilePic" #profilePic="ngModel" accept="image/*" (change)="onselectFile($event,profilePic)" required /><br><br>
                    <div *ngIf="profilePic?.['invalid'] && (profilePic.dirty || profilePic.touched)">
                      <div *ngIf="profilePic.errors?.['required']">Profile picture is required</div>
                      <div *ngIf="profilePic.errors?.['invalidSize']">Please upload an image with dimensions of 310x325 pixels.</div>
                  </div>
                </div>
                <div class="form-group">
                    <label for="editFname">First Name:</label>
                    <input type="text" [(ngModel)]="inputObj.fname" #fname="ngModel" name="fname" class="form-control" id="userName" placeholder="Enter your First Name" required [pattern]="fnamePattern">
                    <div class="validation-error" *ngIf="fname.touched || fname.dirty">
                            <div *ngIf="fname.errors?.['required']">Name is required</div>
                            <div *ngIf="fname.errors?.['pattern']">Please, Only enter alphabets and Max length must be 20 char.</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="editName">Last Name:</label>
                    <input type="text" [(ngModel)]="inputObj.lname" #lname="ngModel" name="lname" class="form-control" id="userlName" placeholder="Enter your name" required >
                    <div class="validation-error" *ngIf="lname.touched || lname.dirty">
                        <div *ngIf="lname.errors?.['required']">Last name is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="editEmail">Email:</label>
                    <input type="email" [(ngModel)]="inputObj.email" name="email" class="form-control" id="editEmail" placeholder="Enter your email" #email="ngModel" required [pattern]="emailPattern">
                    <div class="validation-error" *ngIf="email.touched || email.dirty">
                      <div *ngIf="email.errors?.['required']">Email is required</div>
                      <div *ngIf="email.errors?.['pattern']">Please, Enter valid email.</div>
                  </div>
                </div>
                <div>
                    <label for="slider">Age : {{ inputObj.age }}</label><br>
                    <input
                      type="range"
                      id="age"
                      name="age"
                      [(ngModel)]="inputObj.age"
                      (input)="onSliderChange($event)"
                      min="1"
                      max="100"
                      step="1"
                    />
                  </div>
                  
                  <div class="form-group">
                    <label for="editContact">Contact:</label>
                    <input type="text" [(ngModel)]="inputObj.contact" name="contact" class="form-control" id="contact" placeholder="Enter your Contact" #mobile="ngModel" required [pattern]="phonePattern">
                    <div class="validation-error" *ngIf="mobile.touched || mobile.dirty">
                        <div *ngIf="mobile.errors?.['required']">Mobile Number is required</div>
                        <div *ngIf="mobile.errors?.['pattern']">Please, Enter 10 digit Mobile Number.</div>
                    </div>
                </div>
                <div class="form-group">
                  <label for="country">Country:</label>
                  <select [(ngModel)]="inputObj.country" name="country" class="form-control" id="country" (change)="updateStates()">
                    <option value="" disabled selected>Select Country</option>
                    <option *ngFor="let country of countries" [value]="country">{{ country }}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="state">State:</label>
                  <select [(ngModel)]="inputObj.state" name="state" class="form-control" id="state">
                    <option value="" disabled selected>Select State</option>
                    <option *ngFor="let state of getStates()" [value]="state">{{ state }}</option>
                  </select>
                </div>
                
                <div class="form-group">
                    <label for="addressType">Address Type:</label>
                    <select [(ngModel)]="inputObj.addressType" name="addressType" class="form-control">
                        <option value="">Select Address Type</option>
                        <option value="home">Home</option>
                        <option value="company">Company</option>
                    </select>
                </div>
                <div *ngIf="inputObj.addressType === 'home'">
                    <div class="form-group">
                        <label for="address1">Address 1:</label>
                        <input type="text" [(ngModel)]="inputObj.address.address1" name="address1" class="form-control" id="address1" placeholder="Enter your Address 1" required>
                    </div>
                    <div class="form-group">
                        <label for="address2">Address 2:</label>
                        <input type="text" [(ngModel)]="inputObj.address.address2" name="address2" class="form-control" id="address2" placeholder="Enter your Address 2" required>
                    </div>
                </div>
            
                <div *ngIf="inputObj.addressType === 'company'">
                    <div class="form-group">
                        <label for="companyAddress1">Company Address 1:</label>
                        <input type="text" [(ngModel)]="inputObj.address.companyAddress1" name="companyAddress1" class="form-control" id="companyAddress1" placeholder="Enter your Company Address 1" required>
                    </div>
                    <div class="form-group">
                        <label for="companyAddress2">Company Address 2:</label>
                        <input type="text" [(ngModel)]="inputObj.address.companyAddress2" name="companyAddress2" class="form-control" id="companyAddress2" placeholder="Enter your Company Address 2" required>
                    </div>
                </div>
                <mat-form-field class="example-chip-list">
                        <mat-label>Interest:</mat-label>
                        <mat-chip-grid #chipGrid aria-label="Fruit selection">
                            @for (interest of inputObj.interest; track interest) {
                              <mat-chip-row (removed)="remove(interest)">
                                {{interest}}
                                <button matChipRemove [attr.aria-label]="'remove ' + interest">
                                  <mat-icon>cancel</mat-icon>
                                </button>
                              </mat-chip-row>
                            }
                          </mat-chip-grid>
                          <input placeholder="New Interest" #interestInput [formControl]="interestCtrl"
                            [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            (matChipInputTokenEnd)="add($event)"/>
                          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                            @for (interest of filteredinterest | async; track interest) {
                              <mat-option [value]="interest">{{interest}}</mat-option>
                            }
                          </mat-autocomplete>
                        </mat-form-field>
                    
                <!-- Add more fields as needed -->
            </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" (click)="updateForm(this.inputObj.email,this.inputObj)" data-bs-dismiss="modal">Update</button>
        </div>
      </div>
    </div>
  </div>